
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

html,
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    color: var(--color-gray);
    overflow-x: hidden;
}

pre,
.wp-block-code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    background: #1e293b;
    color: #f1f5f9;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    font-size: 16px;
    line-height: 28px;
    overflow-x: scroll;
}

h1{
    font-size: 84px;
    line-height: 100px;
}
h2{
    font-size: 55px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 24px;
}
h6 {
    font-size: 22px;
}

section {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Literata', serif;
    }
}

header {
    .cutme-menu-main {
        >li.menu-item-has-children {
            position: relative;
            margin-right: 10px;

            >.sub-menu {
                top: 105%;
                left: 16px;
                margin-top: 10px;
                visibility: hidden;
                opacity: 0;
                border: none;
                transition: all .3s;
                box-shadow: 0 10px 50px 0 rgb(0 0 0 / 17%);
                position: absolute;
                min-width: 280px;
                padding: 12px;
                background: #fff;
                border-radius: 5px;
                z-index: 999999;

                li {
                    >a {
                        display: inline-block;
                        padding: 8px 0;
                    }
                }
            }
        }

        >li.menu-item-has-children:after {
            position: absolute;
            content: url("../images/down-arrow.svg");
            width: 28px;
            height: 28px;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
        }

        >li.menu-item-has-children:hover {
            >.sub-menu {
                opacity: 1;
                visibility: visible;
                margin-top: 16px;
                top: 80%;
            }
        }
    }
}

body.page-template-template-surecart-dashboard .sc-dashboard__logged-out {
    padding: 0 10px;
}

body.page-template-template-surecart-dashboard .sc-dashboard__logged-out header {
    display: flex;
    justify-content: center;
}

body.page-template-template-surecart-dashboard .sc-dashboard__logged-out header a {
    text-decoration: none;
    text-transform: uppercase;
}


@media only screen and (max-width: 460px) {
    .main-menu>ul>li>a {
        line-height: 1.5;
    }
}

